---
import Layout from '@/layouts/Layout.astro';
import backgroundMobile from '@/assets/destination/background-destination-mobile.jpg';
import backgroundTablet from '@/assets/destination/background-destination-tablet.jpg';
import backgroundDesktop from '@/assets/destination/background-destination-desktop.jpg';
import data from "@/constants/data.json";
import DestinationTabs from "@/components/DestinationTabs";
import DestinationImage from '@/components/DestinationImage.tsx';

const destinations = data.destinations;
---

<Layout 
	title="Space Tourism | Destination"
	backgroundMobile={backgroundMobile}
	backgroundTablet={backgroundTablet}
	backgroundDesktop={backgroundDesktop}
>
	<main class="relative w-full min-h-screen flex items-center justify-center px-6 md:px-12 lg:px-24">
		<div class="container mx-auto max-w-7xl w-full">
			<h1 class="text-white text-preset-5 uppercase text-center md:text-start lg:text-start mb-8 md:mb-12 break-words">
				<span class="text-white/25 font-bold mr-4">01</span>
				Pick your destination
			</h1>
			
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
				<div class="flex justify-center">
					<DestinationImage  client:load/>
				</div>
				
				<div class="text-white">
					<DestinationTabs client:load data={destinations}/>
				</div>
			</div>
		</div>
	</main>
</Layout>